.how-we-work-section {
    text-align: center;
    padding: 40px;
  }
  
  .how-we-work-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(248, 97, 43);
  }
  
    .steps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
    .step {
    background-color: #f9f9f9;
    border-radius: 50%;
    padding: 20px;
    width: 30%;
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    border: 1px solid orange;
    
  }
  
   .step:hover {
    transform: scale(1.05);
  }
  
  .step h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: rgb(95, 71, 227);
  }
  
  .step .icon {
    font-size: 2em;
  }
  
  .step p {
    font-size: 0.9em;
    color: #666;
  }
  
    @media (min-width: 1200px) {
    .step {
      width: 180px;
      height: 180px;
    }
  }
  
    @media (min-width: 768px) and (max-width: 1199px) {
    .steps {
      gap: 30px;
    }
  
    .step {
      width: 160px;
      height: 160px;
    }
  
    .how-we-work-section h2 {
      font-size: 2em;
    }
  }
  
   @media (max-width: 767px) {
    .how-we-work-section h2 {
      font-size: 1.8em;
    }
  
    .steps {
      flex-direction: column;
    }
  
    .step {
      width: 130px;
      height: 130px;
      margin-bottom: 20px;
    }
  
    .step h3 {
      font-size: 1.1em;
    }
  
    .step p {
      font-size: 0.85em;
    }
  }
  